{% extends 'crud_api/base.html' %}

{% block title %}Actopus{% endblock %}

{% block content %}
<div class="container">
    <h1>Welcome to CRUD site!</h1>
    <div class="row">
    {% comment %} Creating a html form to create users {% endcomment %}
      <div class="col-md-4 ">
        <h3>ADD USER</h3>
        <form id="addUser" action="">
          <div class="form-group">
            <input class="form-control" type="text" name="name" placeholder="Name" required>
          </div>
          <div class="form-group">
            <input class="form-control" type="email" name="email" placeholder="Email" required>
          </div>
          <div class="form-group">
            <input class="form-control" type="number" name="phone" min="10" placeholder="Phone Number" required>
          </div>
        <div class="form-group">
            <input class="form-control" type="number" name="age" min="10" max="150" placeholder="Age" required>
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="location" placeholder="Location" required>
        </div>
          <button class="btn btn-primary form-control" type="submit">SUBMIT</button>
        </form>
      </div>
      <div class="col-md-8">
        <h3>USERS</h3>
        {% comment %} Creating a table to list the created users {% endcomment %}
        <table id="userTable" class="table table-striped">
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th colspan="3">Age</th>
            <th>Location</th>
          </tr>
          {% if users %}
          {% for user in users %}
          <tr id="user-{{user.id}}">
              <td class="userName userData" name="name">{{user.name}}</td>
              <td class="userEmail userData" name="email">{{user.email}}</td>
              <td class="userPhone userData" name="phone">{{user.phone}}</td>
              <td class="userAge userData" name="age">{{user.age}}</td>
              <td class="userLocation userData" name="location">{{user.location}}</td>
              <td align="center">
                  <button class="btn btn-success form-control" onClick="editUser({{user.id}})" data-toggle="modal" data-target="#myModal">EDIT</button>
              </td>
              <td align="center">
                  <button class="btn btn-danger form-control" onClick="deleteUser({{user.id}})">DELETE</button>
              </td>
          </tr>
          {% endfor %}
          {% else %}
            No Users
          {% endif %}
        </table>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
          <h4 class="modal-title" id="myModalLabel">Update User</h4>
        </div>
        <form id="updateUser" action="">
        <div class="modal-body">
            <input class="form-control" id="form-id" type="hidden" name="formId"/>
            <label for="name">Name</label>
            <input class="form-control" id="form-name" type="text" name="formName"/>
            <label for="email">Email</label>
            <input class="form-control" id="form-email" type="email" name="formEmail"/>
            <label for="phone">Phone Number</label>
            <input class="form-control" id="form-phone" type="number" min="10" name="formPhone"/>
            <label for="age">Age</label>
            <input class="form-control" id="form-age" type="number" min="10" max="150" name="formAge"/>
            <label for="location">Location</label>
            <input class="form-control" id="form-location" type="text" name="formLocation"/>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" >Save changes</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
<script>
// Create Django Ajax Call for creating the user
$("form#addUser").submit(function() {
    var nameInput = $('input[name="name"]').val().trim();
    var emailInput = $('input[name="email"]').val().trim();
    var phoneInput = $('input[name="phone"]').val().trim();
    var ageInput = $('input[name="age"]').val().trim();
    var locationInput = $('input[name="location"]').val().trim();
    if (nameInput && emailInput && phoneInput && ageInput && locationInput) {
        // Create Ajax Call
        $.ajax({
            url: '{% url "crud_api:crud_ajax_create" %}',
            data: {
                'name': nameInput,
                'email': emailInput,
                'phone': phoneInput,
                'age': ageInput,
                'location': locationInput
            },
            dataType: 'json',
            success: function (data) {
                if (data.user) {
                  appendToUserTable(data.user);
                }
            }
        });
      } else {
        alert("All fields must have a valid value.");
    }
    $('form#addUser').trigger("reset");
    return false;
});
function appendToUserTable(user) {
  $("#userTable > tbody:last-child").append(`
        <tr id="user-${user.id}">
            <td class="userName" name="name">${user.name}</td>
            '<td class="userEmail" name="email">${user.email}</td>
            '<td class="userPhone" name="phone">${user.phone}</td>
            '<td class="userAge" name="age">${user.age}</td>
            'td class="userLocation" name="location">${user.location}</td>
            '<td align="center">
                <button class="btn btn-success form-control" onClick="editUser(${user.id})" data-toggle="modal" data-target="#myModal")">EDIT</button>
            </td>
            <td align="center">
                <button class="btn btn-danger form-control" onClick="deleteUser(${user.id})">DELETE</button>
            </td>
        </tr>
    `);
}

// Create Django Ajax Call for updating the user
$("form#updateUser").submit(function() {
    var nameId = $('input[name="formId"]').val().trim();
    var nameInput = $('input[name="formName"]').val().trim();
    var emailInput = $('input[name=formEmail]').val().trim();
    var phoneInput = $('input[name="formphone"]').val().trim();
    var ageInput = $('input[name="formAge"]').val().trim();
    var locationInput = $('input[name="formLocation"]').val().trim;
    if (nameInput && emailInput && phoneInput && ageInput && locationInput) {
        // Create Ajax Call
        $.ajax({
            url: '{% url "crud_api:crud_ajax_update" %}',
            data: {
                'id': id,
                'name': nameInput,
                'email': emailInput,
                'phone': phoneInput,
                'age': ageInput,
                'location': locationInput
            },
            dataType: 'json',
            success: function (data) {
                if (data.user) {
                  updateToUserTabel(data.user);
                }
            }
        });
       } else {
        alert("All fields must have a valid value.");
    }
    $('form#updateUser').trigger("reset");
    $('#myModal').modal('hide');
    return false;
});

// Update Django Ajax Call
function editUser(id) {
  if (name) {
    tr_id = "#user-" + id;
    name = $(tr_id).find(".userName").text();
    email = $(tr_id).find(".userEmail").text();
    phone = $(tr_id).find(".userPhone").text();
    age = $(tr_id).find(".userAge").text();
    location $(tr_id).find(".userLocaion").text();
    $('#form-name').val(name);
    $('#form-email').val(email);
    $('#form-phone').val(phone);
    $('#form-age').val(age);
    $('#form-location').val(location);
  }
}
function updateToUserTabel(id){
    $("#userTable #user-" + user.id).children(".userData").each(function() {
        var attr = $(this).attr("name");
        if (attr == "name") {
          $(this).text(user.name);
        } else if (attr == "email") {
          $(this).text(user.email);
        } else if (attr == 'phone'){
          $(this).text(user.phone);
        } else if (attr == 'age'){
            $(this).text(user.age);
        }else {
            $(this).text(user.location)
        }
    });
}  

// Delete Ajax Call
function deleteUser(id) {
    var action = confirm("Are you sure you want to delete this user?");
    if (action != false) {
      $.ajax({
          url: '{% url "crud_api:crud_ajax_delete" %}',
          data: {
              'name': name
          },
          dataType: 'json',
          success: function (data) {
              if (data.deleted) {
                $("#userTable #user-" + id).remove();
              }
          }
      });
    }
  }
</script>
{% endblock javascript %}